.gradle
/local.properties
/gradle.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/

*.iml
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
/*/build/
local.properties
proguard/
*.log

app/src/main/assets/context.txt
app/src/main/assets/final.zip
app/src/main/assets/units.txt
app/src/main/jniLibs/